body {
    background-color: #fdfdfd;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
a.email {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    text-align: right;
}
a.portfolio {
    color: #9e1b32;
    font-weight: bold;
}
a.site {
    text-decoration: none;
    font-weight: bold;
    color: #212121;
}
div.banner {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    /*background: #0e1112;*/
    background: #212121;
    box-shadow: 0px 3px 3px #757575;
}
div.brandable {
    position: absolute;
    top: 50;
    left: 0;
    width: 215px;
    font-size: 14px;
    color: #000000;
    text-align: right;
}
div.copyright {
    z-index: 5;
    position: relative;
    width: 960px;
    margin: 0 auto;
    font-size: 12px;
    color: #212121;
    text-align: center;
}
div.description {
    position: relative;
    width: 100%;
    height: 130px;
    line-height: 100px;
    font-size: 28px;
}
div.gg {
    position: absolute;
    top: 15;
    left: 50;
    width: 165px;
    font-size: 26px;
    color: #cc5500;
    text-align: right
}
div.icon {
    position: absolute;
    top: 5;
    left: 0;
    width: 50px;
    text-align:left;
}
div.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 225px;
    height: 75px;
    text-align:left;
}
div.logo_for_sale {
    position: relative;
    top: 0;
    width: 225px;
    height: 75px;
    margin: 0 auto;
}
div.main {
    z-index: 5;
    position: relative;
    top: 75px;
    width: 960px;
    margin: 0 auto;
    font-size: 18px;
    color: #212121;
}
div.premium {
    position: relative;
    width: 40%;
    height: 200px;
    border-radius: 20px;
    background: #f3f3f3;
    margin: 0 auto;
    color: #000000;
}
div.premium2 {
    position: relative;
    width: 40%;
    /* height: 125px; */
    border-radius: 5px;
    background: #fa4d2c;
    margin: 0 auto;
    color: #ffffff;
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    padding: 20px;
    opacity: 1;
}
div.premium2:hover {
  opacity: 0.6;
}
div.slogan {
    position: relative;
    width: 100%;
    height: 100px;
    line-height: 100px;
    font-size: 72px;
}
div.topleft {
    position: relative;
    top: 0;
    width: 960px;
    height: 100px;
    margin: 0 auto;
}
div.topright {
    position: absolute;
    top: 15;
    right: 0;
    width: 400px;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    font-weight: bold;
    text-align: right;
}
img.logo {
    height: 75px;
    width: 225px;
}
table.premium {
    width:100%;
    height: 40%;
    text-align: center;
    text-shadow: 1px 1px 1px #9e1b32;
}
.form-style-6{
    /*font: 95% Arial, Helvetica, sans-serif;*/
    font-family: 'Roboto', sans-serif;
    max-width: 400px;
    margin: 10px auto;
    padding: 16px;
    background: #F7F7F7;
}
.form-style-6 h1{
    background: #fa4d2c;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}
.form-style-6 input[type="text"],
.form-style-6 input[type="date"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="email"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="time"],
.form-style-6 input[type="url"],
.form-style-6 textarea,
.form-style-6 select
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    /*font: 95% Arial, Helvetica, sans-serif;*/
    font-family: 'Roboto', sans-serif;
}
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="date"]:focus,
.form-style-6 input[type="datetime"]:focus,
.form-style-6 input[type="email"]:focus,
.form-style-6 input[type="number"]:focus,
.form-style-6 input[type="search"]:focus,
.form-style-6 input[type="time"]:focus,
.form-style-6 input[type="url"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus
{
    box-shadow: 0 0 5px #fa4d2c;
    padding: 3%;
    border: 1px solid #fa4d2c;
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #fa4d2c;
    border-bottom: 2px solid #a2a5a4;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
}
.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover{
    background: #f7a396;
}
